/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background: #000
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#Home{ width: 980px;  margin:0px auto; background: #fff }
#A1{ width: 960px;   margin:0px auto;  }
#A2{ width: 960px;  margin:10px auto;  }
#foot{ width: 960px; height: 40px; background: #f2f2f2 ; margin:10px auto; font-size: 12px; line-height: 40px; text-align: center;}